.viewtrip {
  padding-top: 1rem;
  width: 97%;
  height: 80%;
}
.viewtrip > h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.animation {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
}

.trip-component {
  background-color: #38342e;
  color: white;
  width: 30%;
  border-radius: 10px 10px 10px 10px;
}
