form {
  width: 50%;
  background-color: #38342e;
  padding: 5px;
  padding-bottom: 10px;
}
legend {
  text-align: center;
  margin-bottom: 5px;
}
p {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
input {
  position: absolute;
  right: 0;
}
label {
  margin-bottom: 10px;
}
