form {
  width: 50%;
  background-color: #38342e;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 10px;
}
.titleForm {
  text-align: center;
  margin-bottom: 5px;
}

/* 
.MuiInputBase-root.MuiOutlinedInput-root {
  color: white;
  background-color: blue;
} */
