form {
  width: 50%;
  background-color: #38342e;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 10px;
}
legend {
  text-align: center;
  margin-bottom: 5px;
}
p {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
input {
  position: absolute;
  right: 0;
  width: 40%;
}

.date-input {
  width: 40.5%;
}
label {
  margin-bottom: 10px;
}
